.roulette-skin {
	width: 190px;
	height: 180px;
	padding: 15px 10px;
	border-radius: 10px;
	background-color: #1b1b1b;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	text-align: center;
}

.roulette-skin__img-container {
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.roulette-skin__img {
	max-width: 100%;
	max-height: 100%;
}

.roulette-skin__stat-track {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #e9953b;
}

.roulette-skin__gradient,.roulette-skin__stat-track-gradient {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border-radius: inherit;
	pointer-events: none;
}

.roulette-skin__gradient {
	z-index: -2;
	background-image: linear-gradient(45deg,currentColor,transparent 65%);
	opacity: .45;
}

.roulette-skin__stat-track-gradient {
	color: #e9953b;
	z-index: -1;
	background-image: linear-gradient(45deg,transparent 75%,currentColor);
	opacity: .35;
}

.roulette-skin__names {
	color: #fff;
	min-width: 0;
	width: 100%;
	margin-top: 10px;
	line-height: 1.3;
}

.roulette-skin .app-line {
	width: 120px;
	max-width: calc(100% - 40px);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

@media only screen and (max-width:991px) {
	.roulette-skin {
		width: 130px;
		height: 125px;
		font-size: 12px;
		padding: 13px 8px;
	}

	.roulette-skin__stat-track {
		width: 16px;
		height: 16px;
	}

	.roulette-skin__img-container {
		height: 60px;
	}

	.roulette-skin__names {
		margin-top: 5px;
	}
}

@media only screen and (max-width:767px) {
	.roulette-skin {
		width: 95px;
		height: 90px;
		padding: 8px 5px;
		font-size: 9px;
	}

	.roulette-skin .app-line {
		max-width: calc(100% - 30px);
		filter: none;
	}

	.roulette-skin__stat-track {
		top: 5px;
		right: 5px;
		width: 14px;
		height: 14px;
	}

	.roulette-skin__img-container {
		height: 40px;
	}
}

.case-roulette {
	position: relative;
	width: 100%;
	background-color: #141414;
	padding: 3px 0;
	border-radius: 10px;
	height: 190px;
	border: 2px solid #242424;
}

.case-roulette__item {
	padding: 0 2px;
}

.case-roulette__error {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 15px;
}

.case-roulette:before,.case-roulette__gradient {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	border-radius: inherit;
}

.case-roulette__gradient {
	z-index: 2;
	background-image: linear-gradient(90deg,#141414,transparent 110px,transparent calc(100% - 110px),#141414);
}

.case-roulette:before {
	content: "";
	z-index: 3;
	background-color: rgba(20,20,20,.8);
	transition: opacity .3s cubic-bezier(.25,.8,.5,1);
	opacity: 0;
}

.case-roulette.is-closed:before {
	opacity: 1;
}

@media only screen and (max-width:991px) {
	.case-roulette {
		height: 135px;
	}
}

@media only screen and (max-width:767px) {
	.case-roulette {
		height: 96px;
		border-width: 1px;
		padding: 2px 0;
	}

	.case-roulette__gradient {
		background-image: linear-gradient(90deg,rgba(20,20,20,.8),transparent 80px,transparent calc(100% - 80px),rgba(20,20,20,.8));
	}

	.case-roulette__item {
		padding: 0 1px;
	}
}

.base-roulettes-column,.base-roulettes-column__content,.base-roulettes-column__roulette-wrapper {
	position: relative;
}

.base-roulettes-column__roulette-wrapper:not(:last-child) {
	margin-bottom: 20px;
}

@media only screen and (max-width:1419px) {
	.base-roulettes-column__roulette-wrapper:not(:last-child) {
		margin-bottom: 10px;
	}
}

.case-roulettes {
	position: relative;
	max-width: 2600px;
	margin: 0 auto;
}

.case-roulettes__content {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
	grid-gap: 20px;
}

@media only screen and (max-width:1419px) {
	.case-roulettes__content {
		grid-gap: 10px;
	}
}

@media only screen and (max-width:991px) {
	.case-roulettes__content {
		grid-template-columns: 100%;
	}
}

.roulettes-lock {
	display: block;
}

.lock-enter-active,.lock-leave-active {
	transition: all .3s cubic-bezier(.25,.8,.5,1);
}

.lock-enter,.lock-leave-to {
	opacity: 0;
	transform: translateY(-15px);
}

.roulettes-container {
	position: relative;
}

.roulettes-container__lock-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

.container-enter-active,.container-leave-active {
	transition: all .3s cubic-bezier(.25,.8,.5,1);
}

.container-enter,.container-leave-to {
	opacity: 0;
	transform: translateY(-30px);
}

.case-drops {
	margin-top: 20px;
}

.case-drops__content {
	margin: 0 auto;
	padding: 0 20px;
}

.case-drops__item:hover:before {
	background-color: transparent;
}

.case-drops__item-price {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}

.case-drops .skins-grid-item {
	position: relative;
}

@media only screen and (max-width:991px) {
	.case-drops__content {
		padding: 0 15px;
	}
}

@media only screen and (max-width:767px) {
	.case-drops__content {
		padding: 0;
	}
}

@media only screen and (max-width:575px) {
	.case-drops__item-price {
		top: 5px;
		left: 5px;
	}
}

.roulette-result-item {
	position: relative;
	cursor: pointer;
	border-radius: 10px;
	transition: box-shadow .3s cubic-bezier(.25,.8,.5,1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.roulette-result-item__price {
	position: absolute;
	top: 10px;
	z-index: 1;
	left: 10px;
}

.roulette-result-item__price .info-item {
	font-size: 13px;
}

.roulette-result-item__checkbox {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 2;
}

.roulette-result-item:focus {
	outline: none;
	box-shadow: 0 0 0 1px #d85337;
}

.roulette-result-item:hover:focus {
	box-shadow: none;
}

.roulette-result-item:hover .skin-card:before {
	background-color: transparent;
}

.roulette-result-item:active:focus {
	box-shadow: none;
}

.roulette-result-item.is-active .skin-card:before,.roulette-result-item:active .skin-card:before {
	background-color: transparent;
}

.roulette-result-item.is-disabled {
	cursor: not-allowed;
	filter: grayscale(1);
}

.roulette-result-item.is-disabled:focus {
	outline: none;
	box-shadow: none;
}

.roulette-result-item.is-disabled .skin-card {
	background-color: #141414;
}

.roulette-result-modal {
	width: 1200px;
}

.roulette-result-modal .modal-card {
	max-width: none;
}

.roulette-result {
	text-align: center;
	position: relative;
}

.roulette-result__title {
	margin-bottom: 30px;
	color: #d85337;
	font-size: 18px;
	font-weight: 500;
}

.roulette-result .skins-grid {
	justify-content: center;
}

.roulette-result__actions {
	margin: 45px auto 0;
}

.roulette-result__actions-grid {
	margin: -10px;
	display: flex;
	justify-content: center;
}

.roulette-result__action-item {
	padding: 10px;
	min-width: 180px;
}

.roulette-result__btn.app-btn {
	width: 100%;
	font-size: 14px;
	height: 68px;
	padding: 0 13px;
}

.roulette-result__price-value {
	font-size: 16px;
	font-weight: 700;
}

@media only screen and (max-width:767px) {
	.roulette-result__actions {
		margin-top: 25px;
		padding: 0 5px;
	}

	.roulette-result__actions-grid {
		flex-wrap: wrap;
		margin: -5px;
	}

	.roulette-result__action-item {
		width: 50%;
		padding: 5px;
		min-width: 0;
	}

	.roulette-result__action-item_sell {
		width: 100%;
		order: 3;
	}
}

@media only screen and (max-width:575px) {
	.roulette-result__title {
		margin-bottom: 10px;
	}

	.roulette-result__actions {
		margin-top: 10px;
	}

	.roulette-result__btn.app-btn {
		height: 50px;
		padding: 0 5px;
		font-size: 12px;
	}
}

@font-face {
	font-family:Montserrat;src:local("Montserrat Black"),url(/_nuxt/fonts/Montserrat-Black.0b4a7a7.woff2) format("woff2"),url(../fonts/Montserrat-Black.2ed2c79.woff) format("woff"),url(../fonts/Montserrat-Black.27e3649.ttf) format("truetype");font-weight:900;font-style:normal;
}

.bomb-model-button {
	font-size: 43px;
	font-weight: 900;
	width: 100%;
	height: 56px;
	outline: none;
	color: #352b20;
	background: url(/_nuxt/img/4c0a41b.png) 50% 100% no-repeat;
	background-size: 100%;
	filter: drop-shadow(0 0 5px rgba(173,164,144,.3));
}

.bomb-model-button.is-checked,.bomb-model-button:focus,.bomb-model-button:hover {
	background-image: url(/_nuxt/img/55f037d.png);
	color: #ffe7cd;
	filter: drop-shadow(0 0 7px rgba(218,159,55,.4));
}

.bomb-model-button:active {
	filter: none;
	background-size: 98%;
}

.bomb-model-button:disabled {
	pointer-events: none;
}

.bomb-model-button:not(:last-child) {
	margin-bottom: 10px;
}

@media only screen and (max-width:575px) {
	.bomb-model-button {
		height: 32px;
		font-size: 25px;
	}
}

@font-face {
	font-family:Digital-7;font-style:normal;font-weight:400;src:local("Digital-7"),local("Digital-7-Regular"),url(../fonts/digital-7.d1a0a8c.woff) format("woff"),url(../fonts/digital-7.aa205d9.ttf) format("truetype");
}

.bomb-model-countdown {
	width: 202px;
	height: 54px;
	position: absolute;
	top: 150px;
	left: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	color: #5f4e21;
	font-size: 45px;
	font-family: Digital-7,arial;
}

@media only screen and (max-width:575px) {
	.bomb-model-countdown {
		font-size: 28px;
		width: 120px;
		height: 30px;
		top: 92px;
		left: 29px;
	}
}

.bomb-model-light {
	position: absolute;
	left: 78px;
	top: 218px;
	width: 9px;
	height: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bomb-model-light__light {
	display: block;
	pointer-events: none;
}

.bomb-model-light__light_green {
	display: none;
}

.bomb-game_base .bomb-model-light__light {
	-webkit-animation: bomb-light 2s infinite;
	animation: bomb-light 2s infinite;
}

.bomb-game_win .bomb-model-light__light_green {
	display: block;
}

.bomb-game_win .bomb-model-light__light_red {
	display: none;
}

@media only screen and (max-width:575px) {
	.bomb-model-light {
		width: 7px;
		height: 7px;
		left: 46px;
		top: 129px;
	}

	.bomb-model-light__light {
		width: 132px;
		height: 56px;
	}
}

@-webkit-keyframes bomb-light {
	0%,to {
		transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes bomb-light {
	0%,to {
		transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(0);
		opacity: 0;
	}
}

.bomb-model-bg-light {
	position: absolute;
	width: 280px;
	height: 290px;
	z-index: -5;
	pointer-events: none;
	left: 50%;
	top: 70px;
	transform: translate(-50%);
	color: #d65a36;
	filter: drop-shadow(0 0 50px currentColor);
	background: radial-gradient(closest-side at center,currentColor,transparent) 50% no-repeat;
}

.bomb-game_win .bomb-model-bg-light {
	color: #3cb91f;
}

.bomb-game_lose .bomb-model-bg-light {
	color: #fe0201;
}

@media only screen and (max-width:575px) {
	.bomb-model-bg-light {
		width: 200px;
		height: 210px;
		top: 35px;
	}
}

.bomb-model {
	width: 302px;
	height: 580px;
	position: relative;
}

.bomb-model__img-container {
	width: 100%;
	height: 100%;
}

.bomb-model__bomb-img {
	pointer-events: none;
	width: 100%;
}

.bomb-model__buttons {
	width: 155px;
	height: 190px;
	position: absolute;
	top: 256px;
	left: 72px;
	transform: translateZ(0);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (max-width:575px) {
	.bomb-model {
		width: 180px;
		height: 333px;
	}

	.bomb-model__buttons {
		width: 95px;
		height: 113px;
		top: 150px;
		left: 42px;
	}
}

.bomb-game-header {
	width: 330px;
	height: 130px;
	position: relative;
	margin-bottom: 30px;
}

.bomb-game-header__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	pointer-events: none;
}

.bomb-game-header__img_lose,.bomb-game-header__img_win {
	opacity: 0;
}

.bomb-game_win .bomb-game-header__img_win {
	opacity: 1;
}

.bomb-game_win .bomb-game-header__img_base,.bomb-game_win .bomb-game-header__img_lose {
	opacity: 0;
}

.bomb-game_lose .bomb-game-header__img_lose {
	opacity: 1;
}

.bomb-game_lose .bomb-game-header__img_base,.bomb-game_lose .bomb-game-header__img_win {
	opacity: 0;
}

@media only screen and (max-width:575px) {
	.bomb-game-header {
		width: 280px;
		height: 110px;
		margin-bottom: 10px;
	}

	.bomb-game-header__img {
		max-width: 280px;
	}
}

.bomb-game-instruction {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: #d85337;
	line-height: 21px;
	margin-top: 18px;
	text-align: left;
}

.bomb-game-instruction li:before {
	content: "—";
	padding-right: 5px;
}

@media only screen and (max-width:575px) {
	.bomb-game-instruction {
		font-size: 12px;
		line-height: 17px;
	}
}

.bomb-game-prize {
	margin-bottom: 10px;
	line-height: 1.3;
}

.bomb-game-prize__label {
	font-weight: 500;
	font-size: 17px;
}

.bomb-game-prize__value {
	font-size: 30px;
	font-weight: 700;
	color: #d85337;
}

@media only screen and (max-width:575px) {
	.bomb-game-prize__label {
		font-size: 14px;
	}

	.bomb-game-prize__value {
		font-size: 20px;
	}
}

.bomb-game-action {
	width: 170px;
}

.bomb-game {
	display: flex;
	justify-content: center;
}

.bomb-game__body {
	margin-left: 30px;
	padding-top: 80px;
}

.bomb-game__info {
	padding-left: 35px;
}

.bomb-game__actions {
	margin: 18px 0;
}

@media only screen and (max-width:767px) {
	.bomb-game {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.bomb-game__body {
		margin-left: 0;
		padding-top: 0;
		margin-top: -120px;
		position: relative;
		z-index: 1;
	}

	.bomb-game__info {
		text-align: center;
		padding-left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bomb-game__actions {
		margin-bottom: 0;
	}
}

@media only screen and (max-width:575px) {
	.bomb-game__body {
		margin-top: -75px;
	}

	.bomb-game__actions {
		margin-top: 5px;
	}
}

.container-game-result__bomb {
	margin-top: 40px;
}

@media only screen and (max-width:575px) {
	.container-game-result__bomb {
		margin-top: 20px;
	}
}

.container-not-found-message {
	height: 100%;
	text-align: center;
	padding: 50px 0;
	font-size: 18px;
}

@media only screen and (max-width:767px) {
	.container-not-found-message {
		font-size: 16px;
	}
}

.container-details {
	min-height: 410px;
}

.container-details__content {
	position: relative;
}

.container-details__main {
	min-height: 410px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-details__main-content {
	width: 100%;
}

@media only screen and (max-width:991px) {
	.container-details__main {
		min-height: 140px;
	}
}

.container-page {
	padding-top: 30px;
}

@media only screen and (max-width:767px) {
	.container-page {
		padding-top: 15px;
	}
}

@media only screen and (max-width:575px) {
	.container-page {
		padding-top: 10px;
	}
}